/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Hide TinyMCE Warnings and Branding */
.tox-notification,
.tox-notification--in-fixed-container,
.tox-notification--warning,
.tox-promotion,
.tox-statusbar__branding {
  display: none !important;
}
